.col{
    transition: all 300ms ease-out;
}
.col:hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
  }