<div class="container valign-wrapper" style="height:100%">
    <div style="width: 60%; margin: auto;">
        <img src="{{imgLink}}" width="100%">
        <div style="text-align: center;">
            <mat-form-field appearance="fill" style="width: 50%;">
              <mat-label>Select class</mat-label>
              <mat-select [(value)]="selected">
                <mat-option  *ngFor="let item of classes; let i = index" value="{{i+1}}">{{i+1}}. {{item}}</mat-option>
              </mat-select>
            </mat-form-field>
            <a class="btn" style="margin-left: 30px;" (click)="getGrid()">Send Image</a>
          </div>
    </div>
</div>