<div class="container center-align" style="padding-top: 40px;">
    <h1 style="font-size: 3rem;">BOSCH'S TRAFFIC SIGN RECOGNITION</h1>
    <h1>Inter IIT Tech Meet 2021</h1>
    <h1 style="font-size: 2.4rem;"> Team Code : H1_BSC_2</h1>
    <h1 style="margin-top: 40px;"> Features</h1>
    <div class="row">
        <div class="col s6 valign-wrapper" style="height: 200px;" >
            <div style="padding: 20px;">
                <h2>Addition of image to dataset</h2>
                <p style="text-align: justify;">
                    The user can add an image to any of the 48 (43 original + 5 newly created classes)
                    from his computer/phone in the form of a jpeg/png format.
                </p>
            </div>
        </div>
        <div class="col s6 valign-wrapper" style="height: 200px;" >
            <div style="padding: 20px;">
                <h2>Image augmentation features during addition</h2>
                <p style="text-align: justify;">
                    The user can while adding an image will have the option of blurring
                    the image using pixel dimension, rotating the image to any extent
                    he/she feels necessary and also the option of cropping the image.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 valign-wrapper" style="height: 200px;" >
            <div style="padding: 20px;">
                <h2>Visualizing the dataset</h2>
                <p style="text-align: justify;">
                    The user will have the option of randomly visualizing a part of the
                    dataset or viewing a set of images from a particular class too.
                </p>
            </div>
        </div>
        <div class="col s6 valign-wrapper" style="height: 200px;" >
            <div style="padding: 20px;">
                <h2>Testing the new dataset</h2>
                <p style="text-align: justify;">
                    If the user wants he can test our pretrained model on the
                    updated dataset which will include the images he/she
                    added to the dataset.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s3 valign-wrapper" style="height: 200px;" >
            <div style="padding: 20px;">
                <h2>Visualization of results</h2>
                <p style="text-align: justify;">
                    The user can then choose any of the following options:
                </p>
                <ul style="text-align: left;">
                    <li>Get the accuracy value for a particular class</li>
                    <li>Get the entire f1 matrix displaying precision, recall and f1 score for each class separately</li>
                    <li>View the cases in which the model in failing to predict the right class</li>
                    <li>View the misclassified samples</li>
                    <li>View the per class frequency</li>
                </ul>
            </div>
        </div>
    </div>
</div>