<div style="position: fixed; top: 10px; left: 20px; width: 150px;">
  <h1>Add Image</h1>
</div>
<div class="container valign-wrapper" style="height: 100%;">
    <div class="uploadZone" *ngIf="imageToUpload">
        <input type="file" #fileUploadRef id="fileUploadRef" (change)="fileChangeEvent($event)">
        <img src="./assets/ic-upload-file.svg">
        <h3>Upload the image</h3>
        <label for="fileUploadRef">Browse Image</label>
    </div>
    <div *ngIf="imageSelected" style="margin: auto;">
        <div style="padding-bottom: 40px;">
            <img src="{{imageURL}}" height="300px" width="300px" [ngStyle]="{'transform':'rotate(' + rotateValue*0.01745 + 'rad)'}">
        </div>
        <div style="text-align: center;">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Select class</mat-label>
            <mat-select [(value)]="selected">
              <mat-option  *ngFor="let item of classes; let i = index" value="{{i+1}}">{{i+1}}. {{item}}</mat-option>
            </mat-select>
          </mat-form-field>
          <a class="btn" (click)="sendIMG()">Send Image</a>
        </div>
    </div>
    
    <div *ngIf="imageSelected" style="position: fixed; right: 10px; width: 200px;">
      <div style="margin-bottom: 10px;">
        <h4>Resize the Image</h4>
        <form [formGroup]="imageSize">
          <mat-form-field appearance="standard">
            <mat-label>Vertical(in px)</mat-label>
            <input matInput type="text" formControlName="vert">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Horizontal(in px)</mat-label>
            <input matInput type="text" formControlName="horz">
          </mat-form-field>
          <a class="btn green accent-3" mat-raised-button style="width: 100px;" (click)="changeSize()">Resize</a>
        </form>
      </div>
      <div>
        <h4>Rotate the Image</h4>
        <mat-form-field appearance="standard">
          <mat-label>Value</mat-label>
          <input matInput type="text" [(ngModel)]="rotateValue">
        </mat-form-field>
        <mat-slider
          thumbLabel
          min="0"
          max="359"
          [displayWith]="formatLabel"
          [(ngModel)]="rotateValue" style="width:100%;">
        </mat-slider>
      </div>
    </div>
    <div class="card" *ngIf="imageToCrop" style="padding: 20px;">
      <h3>Crop the Image</h3>
      <div class="row" style="margin-top: 15px;">
        <div class="text-center col m8">
            <h5>Crop Image</h5>
            <image-cropper 
            [imageChangedEvent]="imageChangedEvent" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="4 / 4"
            [resizeToWidth]="200" 
            format="png" 
            (imageCropped)="imageCropped($event)"></image-cropper>
        </div>
        <div class="text-center col m4">
            <h5>Preview</h5>
            <img [src]="croppedImage" />
        </div>
        <div class="row center">
          <a class="btn green accent-3" mat-raised-button style="width: 100px;" (click)="imageCroppedFinal()">Crop It</a>
        </div>
      </div>
      
    </div>
</div>