<div class="valign-wrapper white-text" style="height: 100%; width: 180px; position: fixed; top: 0;">
    <div style="width: 100%;">
        <div class="black valign-wrapper triNavChild hover-cursor" (click)="redirectTo('/')">
            <i class="material-icons">home</i><h3 style="margin:0;">Home </h3>
        </div>
        <div class="pink valign-wrapper triNavChild hover-cursor" (click)="redirectTo('/addImage')">
            <i class="material-icons">library_add</i><h3 style="margin:0;">Add Image</h3>
        </div>
        <div class="blue valign-wrapper triNavChild hover-cursor" (click)="redirectTo('/metrics')">
            <i class="material-icons">pie_chart</i><h3 style="margin:0;">Metrics</h3>
        </div>
        <div class="green valign-wrapper triNavChild hover-cursor" (click)="redirectTo('/visual')">
            <i class="material-icons">landscape</i><h3 style="margin:0;">Visualiser</h3>
        </div>
        <div class="purple valign-wrapper triNavChild hover-cursor" (click)="redirectTo('/misclassified')">
            <i class="material-icons">layers_clear</i><h3 style="margin:0;">Misclassified</h3>
        </div>
        <div class="orange valign-wrapper triNavChild hover-cursor" (click)="redirectTo('/report')">
            <i class="material-icons">receipt</i><h3 style="margin:0;">Class Report</h3>
        </div>
        <div class="red valign-wrapper triNavChild hover-cursor" (click)="redirectTo('/train')">
            <i class="material-icons">timer</i><h3 style="margin:0;">Train</h3>
        </div>
    </div>
</div>
<router-outlet></router-outlet>   