.triNavChild{
    height: 50px;
    width: 200%;
    padding-left: 110%;
    clip-path:polygon(90% 0%, 100% 50%, 90% 100%, 0 100%, 0 0);
    margin-bottom: 3px;
    transition: all 0.4s ease-in-out;
    float: right !important;
}
.triNavChild:hover{
    transform: translateX(30px);
}