<div class="container" style="height: 100vh;">
    <div class="row" style="height: 50%; margin: 0;" >
        <div class="col s6 valign-wrapper" style="height: 100%">
            <img src="{{imgPCF}}" width="100%" alt="" srcset="">
        </div>
        <div class="col s6 valign-wrapper" style="height: 100%">
            <img src="{{imgPCF}}" width="100%" alt="" srcset="">
        </div>
    </div>
    <div class="row" style="height: 50%; margin: 0;">
        <div class="col s6 valign-wrapper" style="height: 100%">
            <img src="{{imgPCF}}" width="100%" alt="" srcset="">
        </div>
        <div class="col s6 valign-wrapper" style="height: 100%">
            <img src="{{imgPCF}}" width="100%" alt="" srcset="">
        </div>
    </div>
</div>