.col{
    transition: all 300ms ease-out;
}
.col:hover {
    transition: all 300ms ease-in;
    transform: scale(1.02);
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
  }

  .anim{
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
  }
  .load{
    border: 2px;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    
  }
  .load2{
    border: 2px;
    border-radius: 50%;
    border-top: 2px solid #dbd034;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  .load3{
    border: 2px;
    border-radius: 50%;
    border-top: 2px solid #ee3737;
    -webkit-animation: spin 0.7s linear infinite; /* Safari */
    animation: spin 0.7s linear infinite;
  }
  .load4{
    border: 2px;
    border-radius: 50%;
    border-top: 2px solid #1cb83d;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }