<div style="position: fixed; top: 10px; left: 20px; width: 150px;">
    <h1>Metrics</h1>
</div>
<div class="container" style="height: 90vh; margin-top: 5vh; ">
    <div class="row" style="height: 50%; margin-top: 25%;" >
        <div class="col s6 valign-wrapper" style="height: 100%; position: relative;">
            <div id="graphAcc" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="col s6 valign-wrapper" style="height: 100%">
            <div id="graph2" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>